.grid-background {
  position: fixed;
  inset: 0;
  z-index: -1;
  pointer-events: none;

  background-image:
    linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.1) 1px, transparent 1px);

  background-size: 50px 50px;
  background-color: #020817;
}

.grid-background::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(circle,
      transparent,
      rgba(0, 0, 0, 0.9));
}